html, body {
  background-color: #333;
  padding: 0px;
  margin: 0px;
}

#dance4lifegame{
  cursor: pointer;
}
p {
  text-align: center;
  color: white;
}

a {
  color: #3caaff;
}


.social-icons {
  left: 40%;
  position: absolute;
  top: 50%;
}

.hidden{
  display: none;
  overflow: hidden;
}